.App {
  background-color: #282c34;
  color: whitesmoke;
}

.App-header {
  height: 70px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-weight: 500;
  color: #282c34;
  background: whitesmoke;
  box-shadow: 0px 2px 15px 0px rgba(245, 245, 245, 0.75);
  -webkit-box-shadow: 0px 2px 15px 0px rgba(245, 245, 245, 0.75);
  -moz-box-shadow: 0px 2px 15px 0px rgba(245, 245, 245, 0.75);
  position: relative;
  z-index: 10;
  span {
    position: absolute;
    left: 2000px;
    transition: 2s;
    &.animate {
      left: 24px;
    }
  }
}

button {
  font-size: calc(10px + 2vmin);
}

footer {
  padding: 40px 24px;
  padding-top: 24px;
  border-top: 1px solid whitesmoke;
  position: relative;
  p {
    font-size: 28px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 16px;
  }
  .facebook {
    display: flex;
    padding: 8px 12px;
    padding-right: 24px;
    border: 2px solid whitesmoke;
    border-radius: 50px;
    width: min-content;
    svg {
      z-index: 2;
    }
    .img-placeholder {
      z-index: 1;
      background-image: url("../resources/facebook_picture.jpg");
      height: 40px;
      width: 40px;
      background-size: cover;
      border-radius: 50%;
      margin-left: -10px;
    }
    .brand {
      margin: auto 0;
      margin-left: 20px;
      font-size: 22px;
      font-weight: 500;
    }
  }
  .instagram {
    margin-top: 24px;
    display: flex;
    padding: 8px 12px;
    padding-right: 24px;
    border: 2px solid whitesmoke;
    border-radius: 50px;
    width: min-content;
    .logo {
      z-index: 2;
      width: 40px;
      height: 40px;
    }
    .profil-picture {
      z-index: 1;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-left: -10px;
    }
    .brand {
      margin: auto 0;
      margin-left: 20px;
      font-size: 22px;
      font-weight: 500;
    }
  }
}
